
<!-- Student page - Spring 2014 - Erin Coughlan & Philip Davis & Luke Sedney -->
<html lang="en" id="submission-student" ng-app="submissionApp">
    <head>
        <title> CS Submissions </title>
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/layout.css">
        <link rel="stylesheet" type="text/css" href="../css/header.css">
        <link rel="stylesheet" type="text/css" href="../css/right_column.css">
        <link rel="stylesheet" type="text/css" href="../css/left_column.css">
        <link rel="stylesheet" type="text/css" href="../css/loader.css">
        <link rel="stylesheet" type="text/css" href="../css/table.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/grader_controllers.js"></script>
        <script src="/js/student_controllers.js"></script>
    </head>
    <body ng-controller="GraderCtrl">
        <ng-include src=" '/partials/header.html' "></ng-include>
        <div id="contentArea">
            <div id="leftCol">
                <div class="colHeader">
                    <div class="option" ng-class="{active: view=='assignments'}"
                                        ng-click="view='assignments'">
                        <a>Assignments</a>
                    </div><div class="option" ng-class="{active: view=='students'}"
                                              ng-click="view='students'">
                        <a>Students</a>
                    </div>
                </div>
                <div ng-cloak ng-show="!course">
                    <div id="leftSpinner" class="spinner"></div>
                </div>
                <ng-switch on="view">
                    <ul ng-switch-when="assignments">
                        <a ng-repeat="assignment in assignments"
                           ng-href="#/grader/assignments/{{assignment.name}}">
                            <li
                                ng-class="{active: isActive('/grader/assignments/'+assignment.name)}">
                                {{assignment.name}}
                                <div class="points">{{assignment.grade || "NA"}}/{{assignment.point}}</div>
                            </li>
                        </a>
                    </ul>
                    <ul ng-switch-when="students">
                        <a ng-repeat="student in studentss"
                           ng-href="#/grader/course/{{course.name}}/students/{{student.name}}">
                            <li
                                ng-class="{active: isActive('/grader/assignments/'+assignment.name)}">
                              {{student.name}}
                                <div class="points">{{assignment.grade || "NA"}}/{{assignment.point}}</div>
                            </li>
                        </a>
                    </ul>
                </ng-switch>
            </div>
            <div id="rightCol">
                <div ng-view ></div>
            </div>
        </div>
    </body>
</html>
