<!doctype html>
<!-- Prof page - Spring 2014 - Erin Coughlan & Philip Davis & Luke Sedney -->
<html lang="en" id="submission-prof" ng-app="submissionApp">
    <head>
        <title> CS Submissions </title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/loader.css">
        <link rel="stylesheet" type="text/css" href="/css/prof.css">
        <link rel="stylesheet" type="text/css" href="/css/form.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/prof_controllers.js"></script>
        <script src="/js/filters.js"></script>
    </head>
    <body ng-controller="ProfCtrl">
        <ng-include src=" '/partials/prof_header.html' "></ng-include>
        <div id="contentArea">
            <div id="profMain">
                <div class="title">Click an assignment name to edit.</div>
                <table ng-repeat="assignment in assignments" cellspacing="0" cellpadding="0">
                    <tr id="{{assignment.name | letters}}" class="fixedHeader">
                        <th colspan="2">
                            <a id="editAssignment-{{assignment.name}}" class="underline" onclick="makeEditable(this)">
                                {{assignment.name}}
                            </a>
                        </th>
                        <th class="alignRight">
                            Due: {{assignment.due | date : 'MMM d, yyyy h:mm a'}}
                        </th>
                    </tr>
                    <tr ng-repeat="file in assignment.files">
                        <td>
                            {{file.name}}
                        </td>
                        <td>
                            Points: {{file.maxScore}}
                        </td>
                        <td>
                            Partner: {{file.partnerable}}
                        </td>
                    </tr>
                    <tr class="editButtons">
                        <td colspan="3">
                            <input type="submit" value="Save" onclick="saveAssignment(this)">
                            <input type="submit" value="Delete Assignment">
                        </td>
                    </tr>
                </table>

                <div id="newAssignment" class="title">Or create a new assignment.</div>
                <table class="newAssignment" cellspacing="0" cellpadding="0">
                    <tr id="{{assignment.name | letters}}" class="fixedHeader">
                        <th colspan="2">
                            <input type="text" required="required" name="assignmentName" placeholder="Assignment Name">
                        </th>
                        <th class="alignRight">
                            Due: <input type="datetime-local" required="required" name="dueDate">
                        </th>
                    </tr>
                    <tr class="file">
                        <td>
                            <input type="text" required="required" name="filename-0" placeholder="File Name">
                        </td>
                        <td>
                            Points:
                            <input type="number" required="required" class="score" name="maxPoints-0">
                        </td>
                        <td>
                            Partner:
                            <input type="radio" required="required" name="partnerable-0" value="true">Yes
                            <input type="radio" required="required" name="partnerable-0" checked="true" value="false">No
                        </td>
                    </tr>
                    <tr id="addNew">
                        <td colspan="3">
                            <input type="button" value="Add Another File" name="addFile" onClick="addFile(event)">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Create New Assignment" name="createAssignment" ng-click="createAssignment()">
            </div>
        </div>
    </body>
</html>
