#header {
    font-size: 42px;
    z-index: 300;
}

#header .alien {
    display: inline-block;
    height: 80%;
    margin: 0px 20px;
    z-index: -1;
}

#navbar {
    display: inline-block;
    width: inherit;
    z-index: -1;
}

#navbar li {
    -moz-border-radius:10px;
    -webkit-border-radius: 10px;
    background: #283B61;
    border: 2px solid #7d8ca9;
    display: inline-block;
    font-weight: bold;
    height: 80%;
    line-height: 100px;
    margin: 10px 3px;
    padding: 0 5px;
}

#navbar li:hover {
    background: #7d8ca9;
    cursor: pointer;
}

#navbar li.disabled {
    background: #283B61;
    cursor: default;
}

