#header {
	height: 10%;
	border-bottom: 3px solid #7d8ca9;
}

#contentArea {
	height: 90%;
	min-width: 981px;
}

#leftCol {
	float: left;
	height: 100%;
	overflow: scroll;
	width: 300px;
}

#rightCol {
	height: 100%;
	margin-left: 300px;
	overflow: scroll;
	padding: 15px;
}
