#header {
	height: 10%;
	background-color: blue;
}

#contentArea {
	height: 90%;
	min-width: 981px;
}

#leftCol {
	float: left;
	height: 100%;
	overflow: scroll;
	width: 300px;
}

#rightCol {
	background-color: red;
	height: 100%;
	margin-left: 300px;
	overflow: scroll;
}
