#leftCol li {
	font-size: 1.5em;
    padding-top: .1em;
    padding-left: .2em;
}

#leftCol a{
	text-decoration: none;
    color: inherit;
}

#leftCol a:nth-child(even) li {
    background: rgb(40, 77, 97);
}

#leftCol li.active {
  box-shadow: inset 0px 1px 6px 1px rgba(255,255,255,.7);
}

#leftCol .colHeader {
	border-bottom: 2px solid #7d8ca9;
	font-size: 2em;
	text-align: center;
}

