@-webkit-keyframes spinner1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes spinner2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
.spinner {
    position: relative;
    width: 34px;
    height: 34px;
    margin-left: 10%;
    margin-top: 10%;
}
.spinner:after, .spinner:before {
    position: fixed;
    content: "";
    border: 2px solid #a1a1a1;
    width: 32px;
    height: 32px;
}
.spinner:after {
    -webkit-animation: spinner1 2.5s linear infinite;
    animation: spinner1 2.5s linear infinite;
}
.spinner:before {
    width: 44px;
    height: 44px;
    margin-left: -6.5px;
    margin-top: -6.5px;
    -webkit-animation: spinner2 2.5s linear infinite;
    animation: spinner2 2.5s linear infinite;
}
