#rightCol .colHeader {
    font-size: 2em;
}

tr {
    font-size: 1.5em;
    padding-top: .1em;
    padding-left: .2em;
}

tr:nth-child(even) {
    background: rgb(40, 77, 97);
}

td, th {
    border-left: 2px solid #7d8ca9;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    width: 400px;
}

th {
    border-left: 0px;
    border-bottom: 4px solid #7d8ca9;
    border-top: 2px solid #7d8ca9;
}

td:first-child {
    border-left: 0px;
    width: 200px;
}

th:first-child {
    border-left: 2px solid #7d8ca9;
}

th:last-child {
    border-right: 2px solid #7d8ca9;
}

table {
    border: 2px solid #7d8ca9;
    margin-bottom: 20px;
    margin-top: 42px;
}

input[type=submit] {
    display: block;
}

.lastCol {
    width: 100px;
}

.download-link{
    color: inherit;
    text-decoration: underline;
}
