table.collapseTable {
	margin: 0px;
}

.collapseTable td, .collapseTable th {
	min-width: 200px;
	padding: 10px;
	text-align: left;
}

.collapseTable tr {
	border-bottom: 1px solid #000;
}

.collapseTable td:first-child {
	min-width: 100px;
}

.collapseTable th:first-child {
	min-width: 100px;
}

.collapseTable tr:first-child {
	background: rgb(40, 77, 97);
}

.fixedHeader th {
	text-align: center;
}
