<div ng-cloak ng-show="!assignment.files.length>0">
    <div id="rightSpinner" class="spinner"></div>
</div>
<div ng-cloak ng-show="assignment.files.length>0">
    <div class="colHeader">Due: {{assignment.due}}</div>
    <form id="form-submit">
        <table cellspacing="0" cellpadding="0">
            <tr ng-repeat="file in assignment.files">
                <td>{{file.name}}</td>
                <td>
                    <div ng-if="!isDefined(file.grade)">
                        NA/{{file.point}}
                    </div>
                    <div ng-if="isDefined(file.grade)">
                        {{file.grade}}/{{file.point}}
                    </div>
                </td>
                <td>
                    <input ng-if="!isDefined(file.grade)" type="file">
                    <div ng-if="isDefined(file.grade)">Graded.</div>
                    <div ng-if="file.submissions">
                        <a ng-href="/files/{{assignment.id}}/{{file.id}}/{{file.submissions[0].id}}" class="download-link">
                            File submitted on {{file.submissions[file.submissions.length-1].date}}.
                        </a>
                    </div>
                </td>
                <td class="lastCol">
                    <textarea ng-if="!isDefined(file.grade)" rows="4" cols="30" placeholder="Comments or partners. (Enter joint submissions using @username)"></textarea>
                    <p ng-if="isDefined(file.grade)">{{file.comment}}</p>
                </td>
            </tr>
        </table>
    </form>
    <input type="button" id="submit" value="Submit" onClick="mockSubmit(event)">
</div>
