<div ng-cloak ng-show="!assignment.files.length>0">
    <img class="loading" src="img/ajax-loader.gif">
</div>
<div ng-cloak ng-show="assignment.files.length>0">    
    <div class="colHeader">Due: {{assignment.due}}</div>
    <form id="form-submit">
        <table cellspacing="0" cellpadding="0">
            <tr ng-repeat="file in assignment.files">
                <td>{{file.name}}</td>
                <td><input type="file"></td>
                <td>
                    <textarea rows="4" cols="30" placeholder="Comments or partners. (Enter joint submissions using @username)"></textarea>
                </td>
            </tr>
        </table>
    </form>
    <input type="button" id="submit" value="Submit" onClick="mockSubmit(event)">
</div>
