<div ng-cloak ng-show="!files.length>0">
    <div id="rightSpinner" class="spinner"></div>
</div>
<div ng-cloak ng-show="files.length>0">
    <table ng-repeat="file in files" class="collapseTable" cellspacing="0" cellpadding="0">
        <tr id="{{file.name | letters}}" class="fixedHeader" onclick="toggleRow(this)">
            <th>
                {{file.numGraded}} / {{course.numStudents}}
            </th>
            <th>
                {{file.name}}
            </th>
            <th>
                <input type="button" class="gradeButton" id="gradeUnsubmitted_{{file.name}}" value="Grade Unsubmitted" onclick="gradeUnsubmitted(event)">
            </th>
        </tr>
        <tr ng-repeat="student in file.studentSubmissions" class="{{file.name | letters}}">
            <td colspan="2">
                {{student.student}}
            </td>
            <td class="lastCol">
                <div ng-if="!isDefined(student.grade)">
                    <a ng-href="/course/{{course.name}}/assignment/{{assignment.name}}/student/{{student.student}}/file/{{file.name}}/grade/">
                      <input class="gradeButton" type="button" id="grade_{{file.name}}_{{student.student}}" value="Grade Problem">
                    </a>
                </div>
                <div ng-if="isDefined(student.grade)">
                  <a ng-href="/course/{{course.name}}/assignment/{{assignment.name}}/student/{{student.name}}/file/{{file.name}}/grade">  
                    <input class="gradeButton" type="button" id="grade_{{file.name}}_{{student.student}}" value="Graded by {{student.gradedBy}}">
                  </a>
                </div>
            </td>
        </tr>
    </table>
</div>
