<div ng-cloak ng-show="!files.length>0">
    <div id="rightSpinner" class="spinner"></div>
</div>
<div ng-cloak ng-show="files.length>0">
    <table ng-repeat="file in files" class="collapseTable" cellspacing="0" cellpadding="0">
        <tr id="{{file.name}}" class="fixedHeader">
            <th>
                {{file.numGraded}} / {{course.numStudents}}
            </th>
            <th>
                {{file.name}}
            </th>
            <th>
                <input type="button" id="gradeUnsubmitted_{{file.name}}" value="Grade Unsubmitted">
            </th>
        </tr>
        <tr ng-repeat="student in file.studentSubmissions" class="{{file.name}}">
            <td colspan="2">
                <div ng-if="isDefined(student.grade)">{{student.student}}, current grade: {{student.grade}}</div>
                <div ng-if="!isDefined(student.grade)">{{student.student}}</div>
            </td>
            <td class="lastCol">
                <div ng-if="!isDefined(student.grade)">
                    <input type="button" id="grade_{{file.name}}_{{student.student}}" value="Grade Problem" ng-href="/grade">
                </div>
                <div ng-if="isDefined(student.grade)">
                    <input type="button" id="grade_{{file.name}}_{{student.student}}" value="Graded by {{student.gradedBy}}" onclick="window.location=/grade">
                </div>
            </td>
        </tr>
    </table>
</div>
