<div id="header">
    <div id="navbar">
        <ul>
            <li class="disabled">
                <div id="title">HMC CS
                    <img class="alien" src="/img/alien.png">
                </div>
            </li>
            <!-- Disabled only if one course; otherwise show as dropdown -->
            <li class="disabled">{{course.name}}</li>
            <li class="rfloat"><a ng-href="logout">logout</a></li>
            <li class="rfloat"><a ng-href="settings">settings<a></li>
        </ul>
    </div>
</div>
