<div id="header">
    <div id="navbar">
        <ul>
            <li class="lfloat disabled">
                <a ng-href="/home">
                    <div id="title">HMC CS
                        <img class="alien" src="/img/alien.png">
                    </div>
                </a>
            </li>
            <!-- Disabled only if one course; otherwise show as dropdown -->
            <li ng-cloak ng-show="!altCourses.length>0" class="lfloat disabled">
                <a ng-href="/course/{{course.name}}">{{course.name}}</a>
            </li>
            <li ng-cloak ng-show="altCourses.length>0" class="lfloat dropdown">
                <a ng-href="/course/{{course.name}}">{{course.name}}</a>
                <img class="center-vert" src="/img/dropdown_arrow.png">
                <ul class="dropdown-menu">
                    <div ng-repeat="altCourse in altCourses">
                        <a ng-href="/course/{{altCourse.name}}">
                            <li class="submenu">
                                {{altCourse.name}}
                            </li>
                        </a>
                    </div>
                </ul>
            </li>
            
            <li class="rfloat"><a ng-href="/logout">logout</a></li>
            <li class="rfloat"><a ng-href="/settings">settings<a></li>
        </ul>
    </div>
</div>
