<div id="header">
    <div id="navbar">
        <ul>
            <li class="lfloat disabled">
                <a ng-href="/prof">
                    <div id="title">HMC CS
                        <img class="alien" src="/img/alien.png">
                    </div>
                </a>
            </li>
             <!-- Disabled only if one course; otherwise show as dropdown -->
            <li ng-cloak ng-show="!altCourses.length>0" class="lfloat disabled">{{course.name}}</li>
            <li ng-cloak ng-show="altCourses.length>0" class="lfloat dropdown">{{course.name}}
                <img class="center-vert" src="/img/dropdown_arrow.png">
                <ul class="dropdown-menu">
                    <li ng-repeat="altCourse in altCourses" class="submenu">
                        <a ng-href="/prof/course/{{altCourse.name}}">
                            {{altCourse.name}}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="lfloat"><a ng-href="/grader/course/{{course.name}}">Grade</a></li>
            <li class="lfoat dropdown">Manage
                <img class="center-vert" src="/img/dropdown_arrow.png">
                <ul class="dropdown-menu">
                    <li class="submenu"><a ng-href="/prof/course/{{course.name}}/addStudent">Add/Remove Students</a></li>
                    <li class="submenu"><a ng-href="/course/{{course.name}}/export">Gradebook</a></li>
                </ul>
            </li>

            <li class="rfloat"><a ng-href="/logout">logout</a></li>
            <li class="rfloat"><a ng-href="/settings">settings<a></li>
        </ul>
    </div>
</div>